@tailwind base;
@tailwind components;
@tailwind utilities;

/* App defaults */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

/* Animation utilities */
@layer utilities {
  .animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }

  /* 애니메이션 전 초기 상태 */
  .animate-on-load {
    opacity: 0;
  }
}
